.newsHeadline {
    background: #23292f;
    padding-top: 72px;
    padding-bottom: 72px;
}
.newsHeadlineWrap {
    display: flex;
    justify-content: center;
    margin: 0 30px;
    flex-direction: column;
    text-align: center;
    max-width: 906px;
    @media (min-width: 992px) {
        margin: 0 auto;
    }

    h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    h5 {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 12px;
        color: #ebeeee;
        font-weight: 600;
        @media (min-width: 1020px) {
            font-size: 28px;
            font-weight: 700;
        }
    }
    p {
        color: #697b8b;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 30px;
        span {
            color: #a9b5c0;
        }
    }
    .heart {
        color: #c4196e;
        fill: #c4196e;
        display: none;
        max-width: 77px;
        @media (min-width: 768px) {
            display: block;
        }
    }
    .button {
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        background: #c4186e;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        letter-spacing: 0;
        padding: 12px 20px;
        margin-bottom: 18px;
        border: none;
        cursor: pointer;
        height: auto;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.2s ease-in-out;
        border-radius: 3px;
    }
    .col2 {
        max-width: 420px;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        h4 {
            display: none;
        }
        .col1 {
            width: 16.66667%;
        }
        .col2 {
            width: 58.33333%;
            text-align: left;
            max-width: inherit;
            margin: 0;
            padding-right: 20px;
        }
        .col3 {
            width: 25%;
        }
    }
}
