.header {
    background: #c4186e;
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
    display: flex;

    .logo {
        margin-left: 36px;
        margin-right: 20px;
        position: relative;
        display: flex;
        align-items: center;

        a {
            display: block;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            width: 200px;
        }
    }

    .nav {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 10px;
        background: transparent !important;
        color: #515968;
        display: flex;
        align-items: center;

        ul.navMobile {
            min-height: 54px;
            width: auto;
            text-align: left;
            list-style: none outside;
            @media only screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
            li {
                display: block;
                height: auto;
                text-align: left;
                border-bottom: 1px solid #2d2e34;
                border-bottom-style: dotted;
                @media only screen and (min-width: 768px) {
                    display: block;
                    position: relative;
                    list-style: none;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    border: none;
                    outline: none;
                }
            }
            a {
                margin: 0;
                padding: 0;
                border: none;
                outline: none;
                display: inline-block;
                padding: 8px 10px;
                line-height: 38px;
                text-decoration: none;
                color: #fff;
                font-size: 11px;
                font-weight: 600;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: #ff78b9;
                }
            }
        }
    }
    .buttonToggleMenu {
        text-align: left;
        border: none;
        color: #fff;
        font-size: 12px;
        height: 54px;
        line-height: 54px;
        float: right;
        text-shadow: none;
        color: transparent;
        position: relative;
        top: 0;
        right: 36px;
        outline: none;
        background: transparent;
        @media (min-width: 768px) {
            display: none;
        }

        &:before {
            font-family: 'FontAwesome';
            content: '\f0c9';
            color: #fff;
            margin: 0;
            font-size: 25px;
            line-height: 54px;
            text-align: left;
            display: block;
            float: right;
        }
    }
}
