.header {
    background: #c4186e;
    height: 65px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
    display: flex;
    box-shadow: 0px 4px 6px -1px #00000054;
    justify-content: space-between;

    .logo {
        position: relative;
        display: flex;
        align-items: center;

        a {
            display: block;
            margin: 0;
            padding: 0 20px 0 20px;
            border: none;
            outline: none;
            img {
                display: block;
            }
        }
    }

    .nav {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 10px;
        background: transparent !important;
        color: #515968;
        align-items: center;
        display: none;
        @media (min-width: 768px) {
            display: flex;
        }

        ul.navDesktop {
            min-height: 54px;
            width: auto;
            text-align: left;
            margin-right: 20px;
            list-style: none outside;
            @media only screen and (min-width: 768px) {
                display: flex;
                align-items: center;
            }
            li {
                display: block;
                height: auto;
                text-align: left;
                border-bottom: 1px solid #2d2e34;
                border-bottom-style: dotted;
                @media only screen and (min-width: 768px) {
                    display: block;
                    position: relative;
                    list-style: none;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    border: none;
                    outline: none;
                }

                &.logos {
                    display: block;

                    a {
                        display: block;
                        img {
                            display: block;
                        }
                    }
                }
            }
            .sociallogos {
                display: block;
                path {
                    fill: #fff;
                }
                &:hover {
                    path {
                        fill: #ff78b9;
                    }
                }
            }
            .spacer {
                width: 40px;
            }
            a {
                margin: 0;
                padding: 0;
                border: none;
                outline: none;
                display: inline-block;
                padding: 8px 10px;
                line-height: 38px;
                text-decoration: none;
                color: #fff;
                font-size: 11px;
                font-weight: 600;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: #ff78b9;
                }
                &.active {
                    color: #ff78b9;
                }
            }
        }
    }

    .buttonToggleMenu {
        text-align: left;
        border: none;
        color: #fff;
        font-size: 12px;
        line-height: 54px;
        text-shadow: none;
        color: transparent;
        position: relative;
        outline: none;
        background: transparent;
        cursor: pointer;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        @media (min-width: 768px) {
            display: none;
        }
    }
}
ul.navMobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 24px 36px 48px 36px;
    background: #1d2025;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #2e2e2e;
    top: -200px;
    box-shadow: 0px 4px 6px -1px #00000054;
    transition: top 0.3s ease-in-out;
    z-index: 2;
    li {
        display: block;
        height: auto;
        text-align: left;
        border-bottom: 1px solid #2d2e34;
        border-bottom-style: dotted;
        &:last-child {
            border: none;
        }
        a {
            color: #fff;
            display: block;
            width: auto;
            margin: 0;
            padding: 0;
            margin: 12px 0;
            line-height: 16px;
            border: none;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-weight: 500;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: #ff78b9;
            }
            &.active {
                color: #ff78b9;
            }
        }
    }
}
