.galleryHeadline {
    background: #fff url('/public/grey.png');
    padding-top: 96px;
    padding-bottom: 120px;
}
.galleryWrap {
    display: flex;
    justify-content: center;
    margin: 0 30px;
    flex-direction: column;
    text-align: center;

    h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    h5 {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 30px;
        letter-spacing: 3px;
    }
    p {
        color: #a9b5c0;
        font-size: 15px;
        font-weight: bold;
    }
}
