.testimonial {
    background: #72234a;
    padding-top: 112px;
    padding-bottom: 66px;
    text-align: center;

    h3 {
        font: 16px/24px 'montserrat-bold', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 36px;
        color: #e6c1e3;
    }

    blockquote {
        margin-bottom: 30px;
    }

    blockquote p {
        font-family: 'opensans-semibold', sans-serif;
        font-style: normal;
        color: #fff;
        padding: 0;

        margin-bottom: 30px;
        font-size: 18px;
        line-height: 27px;
        @media (min-width: 481px) {
            font-size: 20px;
            line-height: 30px;
        }
        @media (min-width: 768px) {
            font-size: 26px;
            line-height: 42px;
        }
        @media (min-width: 768px) {
            font-size: 26px;
            line-height: 42px;
        }
        @media (min-width: 768px) {
            font-size: 26px;
            line-height: 42px;
        }
    }
    blockquote cite {
        display: block;
        font-size: 12px;
        font-style: normal;
        line-height: 18px;
        color: #fff;
    }
    .sliderWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .sliderLeft {
            width: 80px;
        }
        .sliderCenter {
            width: calc(100% - 160px);
        }
        .sliderRight {
            width: 80px;
        }
    }
}
.newsHeadlineWrap {
    display: flex;
    justify-content: center;
    margin: 0 30px;
    flex-direction: column;
    text-align: center;
    max-width: 906px;
    @media (min-width: 992px) {
        margin: 0 auto;
    }

    h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    h5 {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: 12px;
        color: #ebeeee;
        font-weight: 600;
        @media (min-width: 1020px) {
            font-size: 28px;
            font-weight: 700;
        }
    }
    p {
        color: #a9b5c0;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .heart {
        color: #c4196e;
        fill: #c4196e;
        display: none;
        max-width: 77px;
        @media (min-width: 768px) {
            display: block;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
        h4 {
            display: none;
        }
        .col1 {
            width: 16.66667%;
        }
        .col2 {
            width: 58.33333%;
            text-align: left;
        }
        .col3 {
            width: 25%;
        }
    }
}
